:root {
  --color-prime: #c9d1d9;
  --color-main-canvas: #0d1117;
  --color-alt-canvas: #161b22;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-main-canvas);
  color: var(--color-prime);
  text-align: center;
  padding-bottom: 5vh;
}

.App .NewImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin: 1rem;
}

.App .NewImage .url-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 50%;
}

.App .NewImage .url-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.App .NewImage .url-input form #img-url {
  width: 75%;
  height: 100%;
  font-size: 2rem;
}

.App .NewImage .url-input form #submit {
  width: 25%;
  height: 100%;
}

.App .Gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 90vh;
}

.App .Gallery .Slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  height: 80vh;
  border: 0.1px solid var(--color-prime);
}

.App .Gallery .Slider .Picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.App .Gallery .Slider .Picture .image {
  display: none;
  opacity: 0;
  min-width: 100%;
  max-height: 100%;
  -webkit-transform: translate3d(-10000px, 0px, 0px);
          transform: translate3d(-10000px, 0px, 0px);
}

.App .Gallery .Slider .Picture .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-animation: sliderAnimation 0.5s;
          animation: sliderAnimation 0.5s;
}

@-webkit-keyframes sliderAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliderAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App .Gallery .Slider .slider-arrows {
  background-color: var(--color-alt-canvas);
  border: 0.1px solid var(--color-prime);
  width: 10vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: var(--color-prime);
  font-size: 5rem;
  outline: none;
}

.App .Gallery .Slider .slider-arrows:hover {
  background-color: #161b2267;
  color: #c9d1d99a;
}

.App .Gallery .Panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: var(--color-alt-canvas);
  border: 0.1px solid var(--color-prime);
  width: 75%;
  min-height: 5vh;
}

.App .Gallery .Panel .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
}

.App .Gallery .Panel .buttons button {
  width: 25%;
  height: 100%;
  background-color: var(--color-main-canvas);
  color: var(--color-prime);
}

.App .Gallery .Panel .CommentsBox {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 15vh;
}

.App .Gallery .Panel .CommentsBox .CommentInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 7.5vh;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  margin-bottom: 1rem;
}

.App .Gallery .Panel .CommentsBox .CommentInput .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  width: 25%;
}

.App .Gallery .Panel .CommentsBox .CommentInput .user-info input {
  height: 33.3%;
}

.App .Gallery .Panel .CommentsBox .CommentInput #text {
  width: 75%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.2rem;
}

.App .Gallery .Panel .CommentsBox .Comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 7.5vh;
}

.App .Gallery .Panel .CommentsBox .Comment .user {
  width: 25%;
  height: 100%;
}

.App .Gallery .Panel .CommentsBox .Comment #text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  width: 65%;
  height: 100%;
}

.App .Gallery .Panel .CommentsBox .Comment .upvotes {
  width: 10%;
}
/*# sourceMappingURL=App.css.map */